<!DOCTYPE html>
<html lang="en">
<head>
    <%# Title Tag %>
    <title><%= title %></title>
    <%# Meta Tags %>
    <% meta.forEach(function (entry, i, entries) { %>
        <meta <%- Object.entries(entry).map(e => `${e[0]}=\"${e[1]}\"`).join(" ") _%> >
    <% }) %>
    <%# Link Tags %>
    <% link.forEach(function (entry, i, entries) { %>
        <link <%- Object.entries(entry).map(e => `${e[0]}=\"${e[1]}\"`).join(" ") _%> >
    <% }) %>
    <%# Style Tags %>
    <% style.forEach(function (entry, i, entries) { %>
        <style <%- Object.entries(entry).filter(e => e[0] === "children").map(e => `${e[0]}="${e[1]}"`).join(" ") _%> >
            <%_ entry.children ?? "" _%>
        </style>
    <% }) %>
    <%# Script Tags %>
    <% script.forEach(entry => { %>
        <script <%- Object.entries(entry).filter(e => e[0] === "children").map(e => `${e[0]}="${e[1]}"`).join(" ") _%> >
            <%_ entry.children ?? "" %>
        </script>
    <% }) %>
    <%# NoScript Tags %>
    <% noscript.forEach(entry => { %>
        <noscript <%- Object.entries(entry).filter(e => e[0] === "children").map(e => `${e[0]}="${e[1]}"`).join(" ") _%> >
            <%_ entry.children ?? "" %>
        </noscript>
    <% }) %>
    <link href="<%= tailwind ?? "./output.css" %>" rel="stylesheet">
</head>
<body <%- Object.entries(bodyAttrs).map(e => `${e[0]}="${e[1]}"`).join(" ") _%> >
    <%# BodyScript Tags %>
    <% bodyScript.forEach(entry => { %>
        <script <%- Object.entries(entry).filter(e => e[0] === "children").map(e => `${e[0]}="${e[1]}"`).join(" ") _%> >
            <%_ entry.children ?? "" %>
        </script>
    <% }) %>
    <%# Main Body %>
    <div id="__app"><%- body %></div>
</body>
</html>